.button {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  padding: 5px;
  margin: 0 10px;
  background-color: rgb(180, 180, 180);
  border: 2px solid black;
  border-radius: 5px;
}
